extensions:
	localization: Orisai\Localization\Bridge\NetteDI\LocalizationExtension
	latte: Nette\Bridges\ApplicationDI\LatteExtension(%buildDir%/latte, true)
	tracy: Tracy\Bridges\Nette\TracyExtension(true, true)

localization:
	locale:
		default: en
		allowed: [cs, fr, de, sk]
	debug:
		newMessages: false
		panel: true

services:
	storage: Nette\Caching\Storages\MemoryStorage
	logger: Psr\Log\Test\TestLogger
