extensions:
	localization: Orisai\Localization\Bridge\NetteDI\LocalizationExtension

localization:
	locale:
		default: en
	debug:
		newMessages: false

services:
	storage: Nette\Caching\Storages\MemoryStorage
