includes:
	- phpstan.base.neon

parameters:
	level: 8
	resultCachePath: %currentWorkingDirectory%/var/tools/PHPStan/resultCache.src.php

	ignoreErrors:
		# Shouldn't be possible
		- message: '#Parameter \#3 \$length of function substr expects int, int\<0, max\>\|false given\.#'
		  path:  ../src/Locale/StandardLocale.php
		  count: 1
		- message: '#^Parameter \#(5|6) (.+) of class (.+)StandardLocale constructor expects string\|null, string\|false\|null given\.$#'
		  path:  ../src/Locale/LocaleProcessor.php
		  count: 2

		# Can't really enforce that. But it doesn't matter, it's only for static analysis
		- message: '#Parameter \#1 \$message of method (.+)Translator\:\:translate\(\) expects literal-string, string given\.#'
		  paths:
		    - ../src/Bridge/Latte/TranslationFilters.php
		    - ../src/Bridge/NetteLocalization/NetteTranslator.php
		    - ../src/Bridge/SymfonyTranslationContracts/SymfonyTranslator.php

		# Not validated at this moment
		- message: '#^Method (.+)\:\:loadFromDirectory\(\) should return array\<string, string\> but returns array\.$#'
		  path: ../src/Resource/FileLoader.php
