parameters:
	ignoreErrors:
		-
			message: """
				#^Fetching deprecated class constant VERSION of class Latte\\\\Engine\\:
				use Engine\\:\\:Version$#
			"""
			count: 1
			path: ../src/Bridge/NetteDI/LocalizationExtension.php

		-
			message: "#^Method Orisai\\\\Localization\\\\Locale\\\\GrandfatheredLocale\\:\\:getStandardLocale\\(\\) never returns Orisai\\\\Localization\\\\Locale\\\\StandardLocale so it can be removed from the return type\\.$#"
			count: 1
			path: ../src/Locale/GrandfatheredLocale.php

		-
			message: "#^Method Tests\\\\Orisai\\\\Localization\\\\Doubles\\\\FakeLocaleConfigurator\\:\\:getLanguageTag\\(\\) should return string but returns string\\|null\\.$#"
			count: 1
			path: ../tests/Doubles/FakeLocaleConfigurator.php

		-
			message: "#^Call to function assert\\(\\) with true will always evaluate to true\\.$#"
			count: 1
			path: ../tests/Unit/Bridge/NetteDI/LocalizationExtensionTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Orisai\\\\\\\\TranslationContracts\\\\\\\\TranslatorGetter' and Orisai\\\\TranslationContracts\\\\TranslatorGetter will always evaluate to true\\.$#"
			count: 1
			path: ../tests/Unit/Bridge/NetteDI/LocalizationExtensionTest.php

		-
			message: """
				#^Fetching deprecated class constant VERSION of class Latte\\\\Engine\\:
				use Engine\\:\\:Version$#
			"""
			count: 2
			path: ../tests/Unit/Bridge/NetteDI/LocalizationExtensionTest.php

		-
			message: "#^If condition is always false\\.$#"
			count: 2
			path: ../tests/Unit/Bridge/NetteDI/LocalizationExtensionTest.php

		-
			message: "#^Instanceof between Orisai\\\\Localization\\\\Locale\\\\LocaleProcessor and Orisai\\\\Localization\\\\Locale\\\\LocaleProcessor will always evaluate to true\\.$#"
			count: 1
			path: ../tests/Unit/Bridge/NetteDI/LocalizationExtensionTest.php

		-
			message: "#^Cannot call method getCount\\(\\) on Orisai\\\\Localization\\\\Logging\\\\MissingResource\\|null\\.$#"
			count: 2
			path: ../tests/Unit/DefaultTranslatorTest.php

		-
			message: "#^Cannot call method getLanguageTags\\(\\) on Orisai\\\\Localization\\\\Logging\\\\MissingResource\\|null\\.$#"
			count: 2
			path: ../tests/Unit/DefaultTranslatorTest.php

		-
			message: "#^Cannot call method getMessage\\(\\) on Orisai\\\\Localization\\\\Logging\\\\MissingResource\\|null\\.$#"
			count: 2
			path: ../tests/Unit/DefaultTranslatorTest.php
