includes:
	- phpstan.base.neon

parameters:
	level: max
	resultCachePath: %currentWorkingDirectory%/var/tools/PHPStan/resultCache.src.php

	ignoreErrors:
		# MessageFormatter is null in case pattern is invalid
		- message: '#^Strict comparison using === between MessageFormatter and null will always evaluate to false\.$#'
		  path: %currentWorkingDirectory%/src/Formatting/IntlMessageFormatter.php
		  count: 1
		- message: "#^Method (.+)IntlMessageFormatter\\:\\:validatePattern\\(\\) has (.+)MalformedOrUnsupportedMessage in PHPDoc @throws tag but it's not thrown\\.$#"
		  path: %currentWorkingDirectory%/src/Formatting/IntlMessageFormatter.php
		  count: 1
		# Shouldn't be possible
		- message: '#Parameter \#3 \$length of function substr expects int, int\<0, max\>\|false given\.#'
		  path:  %currentWorkingDirectory%/src/Locale/StandardLocale.php
		  count: 1
